.app{
  width: 80%;
  margin: auto;
  font-family: 'Gudea', 'KoHo', 'Quicksand';
}
.navbar{
  list-style: none;
  margin: 0;


  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  
  margin: auto;
  width: 100%;
}

.navbar a {
  text-decoration: none;
  margin: 0 2rem;
  color: black;
  font-size: 36px;
}