.welcome-title{
  text-align: center;
  font-size: xx-large;
  text-align: center;
}

h2{
  padding: 10px;
  text-align: center;
}
.user-info{
  background-color: lightgray;
}

.user-info-list {
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}